@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

*{
    padding: 0;
    margin: 0;
}

.App-logo {
    height: 25vmin;
    pointer-events: none;
}

.App-dash-logo {
    height: 25vmin;
    pointer-events: none;
}

.App-user-logo{

    height: 3vmin;
    pointer-events: none;

}

.App-btn-logo{

    height: 3vmin;
    pointer-events: none;

}

.App-chat-logo {

    height: 25vmin;
    pointer-events: none;
}

.loading-logo {

    padding-top: 40px;
    width: 150px;
}

.loading-logo-account {

    width: 300px;
}

.load-logo-center{

    clear: both;
    padding-top: 80px;
    max-width: 300px;
    margin: 0 auto;
}

.App-loading-logo{
    height: 3vmin;
    pointer-events: none;
}

.has-not-user{

    float: left;
    text-align: center;
    padding-top: 100px;
    width: 100%;
}

.has-not-user a {

    font-size: 25px;
    font-family: Roboto Condensed;
    text-decoration: none;
}

.account-container{

    float: left;
    width: 100%;
}

.account-hidden{

    display: none;
}

#countdown {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: black;
}
.countdown-before{

    color: red;
    padding-left: 10px;
}

.countdown-after{

    padding-left: 5px;
    color: #00d000;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .App-dash-logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .App-chat-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    .App-user-logo{
        animation: App-logo-spin infinite 5s linear;

    }
    .App-btn-logo{
        animation: App-logo-spin infinite 5s linear;

    }

    .loading-logo{
        animation: App-logo-spin infinite 5s linear;

    }
    .loading-logo-account{
        animation: App-logo-spin infinite 2s linear;

    }
    .App-loading-logo{
        animation: App-logo-spin infinite 1s linear;

    }
}

.App-header {
    clear: both;
    background-color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header p{

    text-align: center;
    color: #1a1a1a;
}

.App-link {

    text-align: center;
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.register-container{

    clear: both;
    padding-top: 50px;
    margin: 0 auto;
    max-width: 900px;
}

.login-container{

    clear: both;
    padding-top: 50px;
    margin: 0 auto;
    max-width: 900px;
}

.fa {

    padding-right: 20px;
    text-decoration: none;

}
.list-icon{

    text-align: start;
}
.container{

    max-width: 1200px;
    margin: 0 auto;
}

.home-container{

    clear: both;
}

.home-container h1{

    color: #00d000;

}

.blog-container{

    clear: both;
    padding-top: 50px;
}

.blog-container h1{

    font-size: 30px;
    margin-bottom: 30px;
    color: #00D000FF;
}

.contact-container{

    clear: both;
    padding-top: 50px;
    padding-left: 10px;
}

.list-item{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
    padding: 25px;
}

.youtube-item{

    height: 250px;
    margin-bottom: 15px;
}

.youtube-item img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.youtube-footer{
    display: flex;
    align-items: flex-start;
}

/* CSS chung cho bảng và ô */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Điều chỉnh độ rộng của ô khi màn hình nhỏ hơn 600px */
@media (max-width: 1000px) {
    td, th {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    /* Tăng khoảng trắng giữa các ô */
    td:not(:last-child), th:not(:last-child) {
        margin-bottom: 10px;
    }
}

.feature-title, .feature-desc{


    font-family: -apple-system, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.feature img{

    width: 100%;
    height: 50%;
}

.feature p{

    width: 50%;
}

.distance-table-top{
    padding-top: 50px;
}

*{
    padding: 0;
    margin: 0;
}

.container{

    max-width: 1200px;
    margin: 0 auto;
}

.list-item{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
    padding: 25px;
}

.youtube-item{

    float: left;
    width:100%;
    height: 250px;
    margin-bottom: 15px;
}

.youtube-item img{

    width: 100%;
    height: 100%;
    float: left;

}

.youtube-footer{
   float: left;
    width: 100%;
}

/* CSS chung cho bảng và ô */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #43a047;
    text-align: left;
    padding: 8px;
}

/* Điều chỉnh độ rộng của ô khi màn hình nhỏ hơn 600px */
@media (max-width: 1000px) {
    td, th {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    /* Tăng khoảng trắng giữa các ô */
    td:not(:last-child), th:not(:last-child) {
        margin-bottom: 10px;
    }
}

.feature-title, .feature-desc{

    font-family: -apple-system, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.feature img{

    width: 100%;
    height: 50%;
}

.feature p{

    width: 50%;
}

.distance-table-top{
    padding-top: 50px;
}

.App {
    width: 100%;
    height: 100vh;
    background: #fff;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    place-items: center;
}
body {
    margin: 0%;
    padding: 0%;
}

.joinChatContainer {

    float: left;
    width: 100%;
    clear: both;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.joinChatContainer h4 {
    font-size: 30px;
    margin-bottom: 1rem;
    color: #00d000;
}
.joinChatContainer input, .joinChatContainer select {
    width: 210px;
    height: 40px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin: 10px auto;
    font-size: 16px;
}

.joinChatContainer button {
    width: 210px;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}

.joinChatContainer button:hover {
    background: white;
    color: black;
}
.chat-container {
    clear: both;
    padding-top: 50px;
    display: grid;
    place-items: center;
}

.chat-container > * {
    display: inline-block;
    vertical-align: middle;
}


.chat-window {
    width: 300px;
    height: 420px;
    display: block;
}

.chat-window p {
    margin: 0;
}
.chat-window .chat-header {
    height: 45px;
    background: white;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
}
.chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
}

.chat-window .chat-content {
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;

    position: relative;
}
.chat-window .chat-content .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-window .chat-content .message-container::-webkit-scrollbar {
    display: none;
}
.chat-window .chat-content .message {
    height: auto;
    padding: 10px;
    /*display: flex;*/
}

.chat-window .chat-content .message .message-content {
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: #43a047;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.chat-window .chat-content .message .message-chat-now {
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: white;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
    border: 2px solid black;
}

.user-join{

    padding: 5px;
    background-color: white;
    border-bottom: 1px solid black;
    color:black;
}

.user-join p{
    color: black;
    font-family: "Times New Roman", serif;
    
}

#you {
    justify-content: flex-start;
}

#you .message-content {
    justify-content: flex-start;
    width: 100%;
}

#you .message-meta {
    justify-content: flex-start;
    margin-left: 5px;
}

#other {
    justify-content: flex-end;
}

#other .message-content {
    justify-content: flex-end;
    background-color: cornflowerblue;
}

#other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
}

.message-meta #author {
    margin-left: 10px;
    font-weight: bold;
}

.chat-window .chat-content .message .message-meta {
    display: flex;
    font-size: 12px;
}

.chat-window .chat-footer {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
}

.chat-window .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;

    outline: none;
    font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
}

.chat-window .chat-footer button:hover {
    color: #43a047;
}
.hide {
    opacity: 0 !important;
}

.post-item-blog{

    color: midnightblue;
    padding-left: 0px;
    font-size: 15px;
}

#user{

    text-align: center;
}

.list-user ul{

    padding-left: 0px;
    text-align: center;
    font-size: 12px;
}

.contact-me{

    clear: both;
    width: 50%;
}

.my-info{
    float: left;
    width: 70%;
}


.navbar{

    float: left;
    width: 100%;
}

@media (min-width: 951px) {

    .login-mobile-container {
        display: none;
    }

    .register-mobile-container {
        display: none;
    }


}

.weather-container{

    float: left;
    padding-top: 70px;
}

@media (max-width: 950px) {


    .contact-me{

        width: 100%;
    }

    .login-container{

        display: none;
    }

    .login-mobile-container{

        padding-top: 50px;
        clear: both;
        display: block;
    }

    .register-container{

        display: none;
    }

    .register-mobile-container{

        padding-top: 50px;
        clear: both;
        display: block;
    }

    #countdown {
        float: left;
        text-align: center;
        position: relative;
        width: 100%;
        font-size: 20px;
        color: black;
        top: 50px;
    }

}

@media (max-width: 550px) {

    .list-users{

        float: left;
        width: 100%;

    }

    .layout-left{

        display: none;
    }
}

.footer-container{

    clear: both;
}

.header-hidden {

    display: none;
}

.info-container{

    float: left;
    width: 100%;
    margin-top: 80px;
    text-align: center;
}

#header_display{

    display: block;
}

.container-list-user{

    float: left;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 70px;
}

.list-users{

    float: left;
    width: 50%;

}

.layout-left{
    float: left;
    width: 50%;
    color: white;
}
