.toggle{

    width: 50px;
    height: 25px;
    background-color: #ccc;
    padding: 5px;
    border-radius: 100rem;
    margin: 20px 10px 15px 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.toggle.active{

    background-color: #43a047;
    /*display: none;*/

}

.spinner{

    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100rem;
    transition: all 0.2s linear;

}

.spinner.active{

    transform: translateX(25px);
}

.toggle-control{

    margin: -10px 0 20px 12px;
    align-items: center;
    display: flex;
    gap: 0 10px;
}

.toggle-control >cursor * {

    cursor: pointer;
}